body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.judul {
	background: #87D1D8;
	padding: 10px;
	text-align: center;
}

a {
	text-decoration: none;
	
}
button{
	color: rgb(51, 51, 51);
	border: 1px solid black;
	background-color: #87D1D8;
	padding: 10px;

}
button:hover {
	background-color: #529da4;
	color: white;
}

a:hover{
	text-decoration: underline;
}
.table{
	border-collapse: collapse;
}
.table tr th, .table tr td {
	padding: 5px;
}

footer .nadira{
	width: 100%;
	background-color: #fcffff;
	position:absolute;
   bottom:0;
   height:80px;
}

.nadira p{
	padding: 0 50px;
}